<section>
  <h1>Become a git master!</h1>
  <p>Want to master git? I'm working on a book dedicated to the working
  developer. I'll teach you all the tricks I use every day to make myself
  more productive. Enter your email address below to know when it's ready
  (you may get a nice discount on the release date).</p>

  <form action="{{ site.mailchimp_embed_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <input type="text" placeholder="Your Email Here" autocomplete="off" name="EMAIL" id="mce-EMAIL">
    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
  </form>
</section>
